html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrap {
	height: 100%;
	background-color: rgb(70, 99, 230);
	font-family: Poppins-Regular, sans-serif;
	box-sizing: border-box;
}

.container-reg {
	margin: auto;
	width: 400px;
	height: 350px;
	border-radius: 10px;
	background-color: white;
	padding: 10px 15px;
	position: relative;
	top: 25%;
}

form {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.span-auth {
	font-size: 35px;
	padding-bottom: 20px;
}

input {
	height: 50px;
	width: 80%;
	font-size: 17px;
	margin-bottom: 20px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #d9d9d9;
}

input:focus {
	border-bottom: 1px solid cyan;
}

.ok {
	width: 35%;
	height: 30px;
	background-color: rgb(70, 99, 230);
	color: white;
	border-radius: 10px;
	border: 0;
	margin-top: 15px;
}