.application {
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    display: flex;
    border-bottom: 1px solid #000000;
}

.application div {
    display: flex;
}

.application span {
    margin: auto;
}

.id {
    width: 10%;
}

.info {
    width: 70%;
}

.info span:first-child {
    width: 40%;
}

.info span:last-child {
    width: 60%;
}

.role {
    width: 20%;
}