.wrapContent {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.applications {
    width: 100%;
    height: calc(100% - 50px);
    padding: 0px 15px;
    overflow: scroll;
}

.active {
    background: rgb(209, 255, 223);
}

.notActive {
    background: transparent;
}

.notActive:hover {
    background: rgb(255, 255, 255);
}

.btnPlace {
    display: flex;
}

.btnContainer {
    width: 50%;
    margin: 0 5px;
}
