.sale {
    --text-color: rgb(0, 0, 0);
    --border-color: rgb(0, 0, 0);
    --text-color2: rgb(255, 255, 255);
    --color-bg1: rgb(20, 140, 177);
    --color-bg1-hover: rgb(121, 218, 248);
}

.sale {
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.saleBlock {
    display: flex;
    height: calc(100% - 50px);
    margin: auto;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: auto;
    padding: 0px 20px;
    overflow: scroll;
}

.productInfo label {
    color:var(--text-color);
}

.productInfo input {
    color:var(--text-color);
}

.productImage {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto 10px;
}

.dropArea {
    margin-bottom: 10px;
    padding: 5px;
    border: 3px dashed var(--border-color);
}

.dropArea img {
    max-width: 100%;
}

.inputFile {
    width: 70%;
    margin: 0px auto;
}

.inputFile span {
    width: 100%;
    text-align: center;
    color: var(--text-color2);
    background-color: var(--color-bg1);
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    transition: background-color 0.5s;
}

.inputFile span:hover {
    background-color: var(--color-bg1-hover);
}

.inputFile input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    display: block;
}

.text {
    color: var(--text-color);
}

.inputText {
    font-size: 22px;
    color: var(--text-color);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.btnPlace {
    width: 40%;
    margin: auto;
}

.dndActive {
    background-color: rgb(132, 206, 255);
}