html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

.overPage{
	height: 100%;
	width: 0%;
	position: absolute;
	background: rgb(33, 74, 49);
	z-index: 999;
}

.main-page{
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	display: flex;
	height: 70px;
	position: fixed;
	background: rgb(33, 74, 49);
	width: 100%;
	z-index: 3;
}

.start {
	width: 20%;
	display: flex;
}

.end {
	display: flex;
	justify-content: right;
	width: 80%;
	margin-right: 25px;
}

.start span {
	color: rgb(255, 255, 255);
	font-size: 40px;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

.user-login {
	font-size: 19px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin: auto 5%;
}

.btn-logout {
	background-image: url(../resources/img/logout.png);
	background-size: cover;
	background-color: rgb(33, 74, 49);
	height: 25px;
	width: 25px;
	border: none;
	padding: 0px;
	margin: auto 0px;
	cursor: pointer;
}

.wrap-content {
	background: rgb(240, 239, 237);
	height: 100%;
	position: relative;
	padding-top: 70px;
	display: flex;
}

#menu{
	height: 100%;
	width: 20%;
	display: flex;
}

#menu ul{
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: auto;
}

#menu ul li{
	padding-top: 10%;
}

#menu ul li:first-child{
	padding-top: 0%;
}

#menu ul li:first-child button {
	color: rgb(1, 175, 108);
}

#menu ul li button{
	color: rgb(17, 54, 40);
	font-size: 30px;
	background: none;
}

.content{
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

#main-content{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

#btn-place{
	width: 100%;
	display: flex;
}

#btn-place button {
	width: 40%;
	margin: 10px auto;
}

#main-content table{
	width: 80%;
	font-size: 35px;
	text-align: center;
	border-collapse: collapse;
	margin: 40px auto;
	table-layout: fixed;
}

#main-content table tr{
	height: 80px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#main-content table tr td:first-child{
	display: none;
}

#main-content table tr:hover {
	background: rgb(255, 255, 255);
}

#main-content div{
	margin: 10px auto;
	width: 50%;
	font-size: 25px;
}

#main-content div:first-child {
	margin-top: auto;
}

#main-content div input{
	color: rgb(0, 0, 0);
}

#sale-status{
	width: 250px;
	color: rgb(255, 116, 116);
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
}