.navBar {
    height: 100%;
    width: 20%;
    display: flex;
    overflow: scroll;
}

.navBar ul {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
}