.wrapContent {
    background: rgb(240, 239, 237);
    height: calc(100% - 75px);
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 75px;
}

.content {
    width: 80%;
    height: 100%;
    overflow: scroll;
}