.cart {
    --active-color: rgb(209, 255, 223);
    --notActive-color: rgb(255, 255, 255);
}

.cart {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.products {
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
}

.active {
    background: var(--active-color);
}

.notActive {
    background: transparent;
}

.notActive:hover {
    background: var(--notActive-color);
}

.btnPlace {
    width: 40%;
    margin: auto;
}