.cart {
    --active-color: rgb(209, 255, 223);
    --notActive-color: rgb(255, 255, 255);
}

.cart {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.products {
    width: 100%;
    height: calc(100% - 50px);
    overflow: scroll;
}

.products table {
    width: 85%;
    border-collapse: collapse;
    margin: 40px auto;
}

.products table tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.products table td {
    height: 100%;
    width: 100%;
}

.product {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}

.image {
    width: 150px;
    margin: auto 5%;
}

.image img {
    max-width: 150px;
}

.productInfo {
    width: 60%;
    text-align: left;
}

.productInfo span:first-child {
    display: none;
}

.productInfo .sellerName {
    display: block;
}

.productInfo .date {
    display: block;
    font-size: 28px;
    margin-bottom: 1%;
}

.productInfo .brand {
    margin-right: 10px;
}

.price {
    width: 20%;
    margin: auto;
}

.active {
    background: var(--active-color);
}

.notActive {
    background: transparent;
}

.notActive:hover {
    background: var(--notActive-color);
}

.btnPlace {
    width: 40%;
    margin: auto;
}