.products {
    width: 100%;
    height: 100%;
    overflow: scroll;
    opacity: 0;
}

.products table {
    width: 85%;
    border-collapse: collapse;
    margin: 40px auto;
}

.products table tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.products table tr:hover {
    background: rgb(255, 255, 255);
}

.products table td {
    height: 100%;
    width: 100%;
}

.active {
    background: rgb(209, 255, 223);
}

.notActive {
    background: transparent;
}

.notActive:hover {
    background: rgb(255, 255, 255);
}