* {
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

.overPage {
	height: 100%;
	width: 0%;
	position: absolute;
	background: rgb(33, 74, 49);
	z-index: 999;
}

.main-page {
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

#wrap_content {
	background: rgb(240, 239, 237);
	height: 100%;
	position: relative;
	padding-top: 75px;
	display: flex;
}

#content {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

#btn_place {
	width: 100%;
	display: flex;
	margin-top: auto;
}

#btn_place button {
	width: 40%;
	margin: 10px auto;
}

#btn_place .btn-red {
	background: rgb(181, 44, 44);
}

#btn_place .btn-red:hover {
	box-shadow: 0px 2px 25px -3px rgb(181, 44, 44);
}

/* TABLE CLASS  BEGIN */

.table {
	width: 85%;
	border-collapse: collapse;
	margin: 40px auto;
}

.table tr {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.table tr:hover {
	background: rgb(255, 255, 255);
}

.table td {
	height: 100%;
	width: 100%;
}

/* TABLE CLASS  END */

/* HEADER CLASS BEGIN */
.header {
	display: flex;
	height: 75px;
	position: fixed;
	background: rgb(33, 74, 49);
	width: 100%;
	z-index: 3;
}

.header .start {
	width: 25%;
	display: flex;
}

.header .end {
	display: flex;
	justify-content: right;
	width: 75%;
	margin-right: 25px;
}

.header .start span {
	color: rgb(255, 255, 255);
	font-size: 45px;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

.header .user-login {
	font-size: 21px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin: auto 5%;
}

.header .btn-logout {
	background-size: cover;
	background-color: rgb(33, 74, 49);
	height: 30px;
	width: 30px;
	border: none;
	padding: 0px;
	margin: auto 0px;
	cursor: pointer;
	background-image: url("../resources/img/logout.png");
}

/* HEADER CLASS END */

/* MENU CLASS BEGIN */

.menu {
	height: 100%;
	width: 100%;
	display: flex;
}

.menu ul {
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: auto;
}

.menu ul li {
	padding-top: 10%;
}

.menu ul li:first-child {
	padding-top: 0%;
}

.menu ul li:first-child button {
	color: rgb(1, 175, 108);
}

.menu ul li button {
	color: rgb(17, 54, 40);
	font-size: 35px;
	background: none;
}

/* MENU CLASS END */

/* TEXT CLASS BEGIN */
.text {
	width: 100%;
	height: 35px;
	border: none;
	font-size: 18px;
	margin-top: 5px;
	padding: 0px 10px;
	outline: none;
	color: rgb(255, 255, 255);
	background: transparent;
	border-bottom: 1px solid rgb(255, 255, 255);
}

/* TEXT CLASS END */

/* BAR CLASS BEGIN */
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: "";
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: rgb(40, 167, 69);
	transition: all 0.3s ease;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

.text:focus~.bar:before,
.text:focus~.bar:after {
	width: 50%;
}

/* BAR CLASS END */

/* BTN SUBMIT BEGIN */
.btn-submit {
	margin: 10px 0px;
	padding: 0px;
	width: 100%;
	height: 30px;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	background: rgb(40, 167, 69);
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.5s ease-in-out;
}

.btn-submit:hover {
	box-shadow: 0px 2px 25px -3px rgb(40, 167, 69);
}

/* BTN SUBMIT END */

.component-wrap {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.component-content {
	overflow: scroll;
	opacity: 0;
}

.header-wrap {
	display: flex;
	flex-direction: column;
}

.component {
	height: 100%;
	width: 100%;
}