.overPage {
    height: 100%;
    width: 0%;
    position: absolute;
    background: rgb(33, 74, 49);
    z-index: 999;
}

.header {
    height: 75px;
    background: rgb(33, 74, 49);
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.start {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.start span {
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.end {
    display: flex;
    align-items: center;
    height: 100%;
}

.end span {
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-right: 50px;
}

.end button {
    background-size: cover;
    height: 32px;
    width: 32px;
    background-color: rgb(33, 74, 49);
    border: none;
    cursor: pointer;
    background-image: url("../../../shared/assets/img/logout.png");
}