.navBar {
    height: 100%;
    width: 20%;
    display: flex;
    overflow: scroll;
}

.navBar ul {
    width: 100%;
    height: auto;
    text-align: center;
    list-style-type: none;
    margin: auto;
    padding: 0;
}