html,
body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

.overPage{
	height: 100%;
	width: 0%;
	position: absolute;
	background: rgb(33, 74, 49);
	z-index: 999;
}

.main-page{
	height: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

#wrap-content {
	background: rgb(240, 239, 237);
	height: 100%;
	position: relative;
	padding-top: 70px;
	display: flex;
}

#content {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

/* HEADER BEGIN */

header {
	display: flex;
	height: 70px;
	position: fixed;
	background: rgb(33, 74, 49);
	width: 100%;
	z-index: 3;
}

header .start {
	width: 25%;
	display: flex;
}

header .end {
	display: flex;
	justify-content: right;
	width: 80%;
	margin-right: 25px;
}

header .start span {
	color: rgb(255, 255, 255);
	font-size: 40px;
	margin: auto;
	font-weight: bold;
	text-align: center;
}

header .user-login {
	font-size: 19px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	margin: auto 5%;
}

header .btn-logout {
	background-image: url(../resources/img/logout.png);
	background-size: cover;
	background-color: rgb(33, 74, 49);
	height: 25px;
	width: 25px;
	border: none;
	padding: 0px;
	margin: auto 0px;
	cursor: pointer;
}

/* HEADER END */

/* MENU BEGIN */

.menu{
	height: 100%;
	width: 25%;
	display: flex;
}

.menu ul{
	width: 100%;
	text-align: center;
	list-style-type: none;
	margin: auto;
}

.menu ul li{
	padding-top: 10%;
}

.menu ul li:first-child{
	padding-top: 0%;
}

.menu ul li:first-child button {
	color: rgb(1, 175, 108);
}

.menu ul li button{
	color: rgb(17, 54, 40);
	font-size: 30px;
	background: none;
}

/* MENU END */ 

/* PRODUCTS BEGIN */

#products {
	height: 100%;
	width: 100%;
	overflow: scroll;
}

#products table{
	width: 80%;
	border-collapse: collapse;
	margin: 40px auto;
}

#products table tr{
	height: 80px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

#products table tr:hover {
	background: rgb(255, 255, 255);
}

#products table td {
	height: 100%;
	width: 100%;
}

#products table .item {
	display: flex;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 35px;
}

#products table img {
	max-width: 130px;
	max-height: 180px;
}

#products table .item .id {
	display: none;
}

#products table .item_image {
	width: 130px;
	margin: auto 5%;
}

#products table .item_price {
	width: 30%;
	margin: auto;
}

#products table .item_info {
	width: 60%;
	text-align: left;
}

#products table .item_info .sellerName {
	display: block;
}

#products table .item_info .date {
	display: block;
	font-size: 24px;
	margin-bottom: 1%;
}

#products table .item_info .brand {
	margin-right: 10px;
}

/* PRODUCTS END */

/* SALE BEGIN */

#sale {
	height: 100%;
	width: 100%;
	display: flex;
}

#sale .product_info {
	display: flex;
	flex-direction: column;
	width: 70%;
}

#sale .product_image{
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}

#sale .product_info div:first-child {
	margin-top: auto;
}

#sale .product_info div{
	margin: 10px auto;
	width: 50%;
	font-size: 25px;
}

#sale .product_info div input{
	color: rgb(0, 0, 0);
}

#sale #image {
	max-width: 90%;
	max-height: 70%;
	margin: 0px auto;
	margin-top: auto;
}

#sale #input_image{
	text-align: center;
	margin-bottom: auto;
}

#sale-status {
	width: 250px;
	color: rgb(255, 116, 116);
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
}

/* SALE END */

#btn-place {
	width: 100%;
	display: flex;
}

#btn-place button {
	width: 40%;
	margin: 10px auto;
}

