/* PRODUCTS BEGIN */
#products {
	height: 100%;
	width: 100%;
	overflow: scroll;
	opacity: 0;
}

#products table .item {
	display: flex;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 40px;
}

#products table img {
	max-width: 150px;
}

#products table .item .id {
	display: none;
}

#products table .item_image {
	width: 150px;
	margin: auto 5%;
}

#products table .item_price {
	width: 20%;
	margin: auto;
}

#products table .item_info {
	width: 60%;
	text-align: left;
}

#products table .item_info .sellerName {
	display: block;
}

#products table .item_info .date {
	display: block;
	font-size: 28px;
	margin-bottom: 1%;
}

#products table .item_info .brand {
	margin-right: 10px;
}

/* PRODUCTS END */

/* PRODUCT-INFO BEGIN*/

#product-info {
	height: 100%;
	width: 100%;
	display: flex;
	padding: 20px;
	overflow: scroll;
	opacity: 0;
}

#product-info .left-part {
	height: 100%;
	width: 70%;
	display: flex;
}

#product-info .right-part {
	height: 100%;
	width: 30%;
	display: flex;
}

#product-info .info {
	display: flex;
	flex-direction: column;
}

#product-info .info span {
	margin: 10px 0px;
	font-size: 30px;
}

#product-info .info span:first-child {
	margin-top: auto;
}

#product-info .info span:last-child {
	margin-bottom: auto;
}

#product-info .product-image {
	padding-left: 10px;
	margin: auto;
}

#product-info img {
	max-width: 100%;
}

/* PRODUCT-INFO END */


/* SALE BEGIN */

#sale {
	height: 100%;
	width: 100%;
	display: flex;
	opacity: 0;
}

#sale .highlight {
	background-color: rgb(132, 206, 255);
}

#sale .text {
	font-size: 22px;
}

#sale .product_info {
	display: flex;
	flex-direction: column;
	width: 70%;
}

#sale .product_image {
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 100%;
}

#sale .product_info div:first-child {
	margin-top: auto;
}

#sale .product_info div {
	margin: 10px auto;
	width: 50%;
	font-size: 27px;
}

#sale .product_info div input {
	color: rgb(0, 0, 0);
}

#sale .dropArea {
	margin: auto 15px 10px 0px;
	padding: 5px;
	border: 3px dashed rgb(0, 0, 0);
}

#sale .dropArea img {
	max-width: 100%;
	max-height: 100%;
}

#sale .input_file {
	width: 50%;
	margin: 0px auto;
	margin-bottom: auto;
	position: relative;
	display: inline-block;
}

#sale .input_file span {
	width: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgb(20, 140, 177);
	border-radius: 10px;
	display: inline-block;
	cursor: pointer;
	padding: 5px 5px;
	font-size: 15px;
}

#sale #input_image {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	display: block;
}

#sale .input_file:hover span {
	background-color: rgb(121, 218, 248);
}

#sale-status {
	width: 250px;
	color: rgb(255, 116, 116);
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	height: 20px;
}

/* SALE END */