.user {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    display: flex;
}

.user div {
    display: flex;
}

.user span {
    margin: auto;
}

.id {
    width: 10%;
}

.info {
    width: 70%;
}

.info span:first-child {
    width: 40%;
}

.info span:last-child {
    width: 60%;
}

.role {
    width: 20%;
}