.message {
    --send-bg: #0B93F6;
    --send-color: rgb(255, 255, 255);
    --receive-bg: #e5e5eA;
    --receive-color: rgb(0, 0, 0);
    --chat-bg: rgb(240, 239, 237);
}

.message {
    max-width: 270px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}

.message:before,
.message:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.sendMessage {
    color: var(--send-color);
    background: var(--send-bg);
    align-self: flex-end;
    margin-right: 27px;
}

.sendMessage::before {
    right: -7px;
    width: 20px;
    background-color: var(--send-bg);
    border-bottom-left-radius: 16px 14px;
}

.sendMessage::after {
    right: -27px;
    width: 27px;
    background-color: var(--chat-bg);
    border-bottom-left-radius: 10px;
}

.receiveMessage {
    color: var(--receive-color);
    background: var(--receive-bg);
    align-self: flex-start;
    margin-left: 27px;
}

.receiveMessage::before {
    left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}

.receiveMessage::after {
    left: -27px;
    width: 27px;
    background-color: var(--chat-bg);
    border-bottom-right-radius: 10px;
}

.messageInfo {
    text-transform: uppercase;
}