.item {
    padding-top: 10%;
}

.item:first-child {
    padding-top: 0%;
}

.item a {
    color: rgb(17, 54, 40);
    font-size: 28px;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: 700;
}

.active a {
    color: rgb(1, 175, 108);
}