.mainPage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapContent {
    background: rgb(240, 239, 237);
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
}

.content {
    width: 80%;
    height: 100%;
}